@import '../../partials/breakpoints';

::ng-deep {
    .aof-fire-animation {
        &.aof-fire-large {
            bottom: -180px;
            opacity: 0.2;
            left: 50%;
            transform: translate(-50%, -50%);

            @include layout-bp(gt-sm) {
                bottom: -240px;
            }

            @include layout-bp(gt-md) {
                bottom: -300px;
            }
        }

        &.aof-fire-medium {
            opacity: 0.8;
            left: 50%;
            bottom: -100px;
            transform: translate(-50%, -50%);

            @include layout-bp(gt-sm) {
                bottom: -150px;
            }
        }

        &.aof-fire-small-one {
            right: auto;
            bottom: -80px;
            opacity: 0.4;
            z-index: 0 !important;
            left: calc(50% - 50px);
            transform: translate(-50%, -50%) rotate(-40deg);

            @include layout-bp(gt-sm) {
                bottom: -110px;
                left: calc(50% - 50px);
            }

            @include layout-bp(gt-md) {
                bottom: -130px;
                left: calc(50% - 60px);
            }
        }

        &.aof-fire-small-two {
            right: auto;
            bottom: -80px;
            opacity: 0.4;
            left: calc(50% + 50px);
            transform: translate(-50%, -50%) rotate(40deg);

            @include layout-bp(gt-sm) {
                bottom: -110px;
                left: calc(50% + 50px);
            }

            @include layout-bp(gt-md) {
                bottom: -130px;
                left: calc(50% + 60px);
            }
        }

        &.aof-fire-small-center {
            opacity: 0.4;
            bottom: -50px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
