$backgroundColor: white;
$alternateBackgroundColor: #f5f5f5;
$backgroundDarkColor: rgba(black, 0.8);
$primaryColor: #f44600;
$primaryDarkColor: #c63e34;
$accentColor: #eeac07;
$titleColor: #f44336;
$headingColor: rgba(#000, 0.9);
$textColor: rgba(#000, 0.7);
