<div class="aof-page" appScrollDirective>
    <app-jumbotron
        name="page-top"
        [version]="version$ | async"
        [config]="config"
        heading="On Fire"
        description="Angular Universal Development Environment Powered By Firebase"
        logoPath="assets/angular-logo-large.png"
        #jumbotronRef
    >
    </app-jumbotron>

    <app-content-section
        name="tech"
        title="Packet With Power"
        description="Angular on Fire comes packet with the best tools in the Market, all pre-configured to give you a complete Firebase development environment"
    >
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="5%">
            <app-flex-block
                fxFlex
                name="angular"
                image="angular-logo.png"
                title="Angular 8"
                content="All the latest features, web workers, deferential loading, improved lazy loading, Node 10 support and all the other goodies Angular provides."
            ></app-flex-block>

            <app-flex-block
                fxFlex
                name="rxjs"
                image="rxjs-logo.png"
                title="RxJs 6"
                content="RxJS is a library for reactive programming using Observables, to make it easier to compose asynchronous or callback-based code. Observe away and beyond!"
            ></app-flex-block>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="5%">
            <app-flex-block
                fxFlex
                name="firebase"
                image="firebase-logo.png"
                title="Firebase"
                content="The power of Firebase services at your disposal, file storage, object database, hosting, cloud functions and much more."
            ></app-flex-block>

            <app-flex-block
                fxFlex
                name="cypress"
                image="cypress-logo.png"
                title="Cypress"
                content="Cypress has taken the development community by storm, with it's great interface and ease to use api's, you can have create powerful E2E test suites in no time."
            ></app-flex-block>
        </div>

        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap="5%">
            <app-flex-block
                fxFlex
                name="jest"
                image="jest-logo.png"
                title="Jest"
                content="The famous test runner created by the folks from Facebook, widely used, vast documentation and amazing community support."
            ></app-flex-block>

            <app-flex-block
                fxFlex
                name="circleci"
                image="circleci-logo.png"
                title="Ci/Cd Ready"
                content="Angular on Fire comes ready for ci/cd deployments with Circle CI, everything is pre-configured, all you have to do is link your Github account to Circle CI, push code and voalá!"
            ></app-flex-block>
        </div>
    </app-content-section>

    <app-content-section
        #documentation
        id="getting-started"
        name="documentation"
        title="Getting Started"
        description=""
    >
        <div
            class="aof-docs-container"
            fxFlex
            fxLayout="row"
            fxLayoutGap.gt-sm="30px"
        >
            <div fxHide fxFlex.gt-sm="210px" fxShow.gt-sm="true">
                <app-context-menu
                    name="docs"
                    [items]="contextMenu$ | async"
                ></app-context-menu>
            </div>
            <div fxFlex="100%" fxFlex.gt-sm="auto" fxLayout="column">
                <p>
                    Because Angular On Fire gives you a complete development
                    environment, there are a few steps you have to follow in
                    order to plug everything together, but don't worry, we made
                    it simple to do so
                </p>
                <app-documentation
                    [config]="config"
                    (context)="contextMenu.next($event)"
                ></app-documentation>
            </div>
        </div>
    </app-content-section>

    <app-content-section
        name="contributions"
        title="Contributions"
        description="We love contributions, help us make Angular On Fire even better!"
    >
        <p>
            There is always room for improvement, and we are always accepting
            pull requests bug fixes and improvements.
        </p>
        <p>
            All you have to do is submit a PR following the guidelines in the
            template and we will take a look as son as we can.
        </p>
    </app-content-section>

    <app-footer></app-footer>

    <app-scroll-top [target]="jumbotronRef.element"></app-scroll-top>
</div>
