@import '../../../partials/colors';
@import '../../../partials/breakpoints';

.aof-scroll-top {
    position: fixed;
    right: 40px;
    bottom: 0;
    font-size: 38px;
    font-weight: 900;

    a {
        color: black;
    }
}
