@import '../../../partials/breakpoints';

.aof-flex-box {
    padding: 60px 0;

    figure {
        overflow: hidden;
        text-align: center;

        & > img {
            max-height: 100%;

            @include layout-bp(gt-sm) {
                max-height: 70%;
            }
        }
    }

    & > div {
        flex: 1;
    }

    p,
    h3 {
        text-align: center;

        @include layout-bp(gt-sm) {
            text-align: left;
        }
    }

    p {
        font-size: 16px;
        text-align: justify;

        @include layout-bp(gt-sm) {
            text-align: left;
        }
    }

    /* &.aof-flex-block-reversed {
        h3 {
            text-align: center;

            @include layout-bp(gt-sm) {
                text-align: right;
            }
        }

        * {
            text-align: justify;

            @include layout-bp(gt-sm) {
                text-align: right;
            }
        }
    } */

    &.aof-flex-block-dense {
        padding: 20px 0;
    }
}
