@import '../../../partials/colors';
@import '../../../partials/breakpoints';

.aof-section {
    padding: 80px 0;
    position: relative;
}

.aof-section-container {
    max-width: 100%;
    padding: 0 20px;

    @include layout-bp(gt-sm) {
        padding: 0;
    }

    & > h2 {
        font-size: 32px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 20px;
        color: $headingColor;

        @include layout-bp(gt-sm) {
            font-size: 62px;
            line-height: 62px;
        }
    }

    & > p {
        font-size: 20px;
        text-align: center;

        @include layout-bp(gt-sm) {
            font-size: 24px;
        }
    }
}

.aof-section-content {
    padding-top: 40px;
}
