<section [id]="name" class="aof-jumbotron" [ngStyle]="{height: innerHeight + 'px'}">
    <div class="aof-jumbotron-background" fxLayout="column">
        <div fxFlex></div>
        <div class="aof-jumbotron-bottom-frame" inlineSVG="/assets/jumbotron-bottom-frame.svg"></div>
    </div>
    <div class="aof-angular-logo">
        <app-flames size="large" speed="slow"></app-flames>
        <app-flames size="medium"></app-flames>
        <app-flames size="small" id="small-one" speed="slow"></app-flames>
        <app-flames size="small" id="small-two" speed="normal"></app-flames>
        <app-flames size="small" id="small-center" speed="fast"></app-flames>
        <img [src]="logoPath" [alt]="pageTitle" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>{{heading}}</h1>
        <p>{{description}}</p>

        <div fxLayout="row"
             fxLayoutAlign="center center"
             [fxLayoutGap]="'20px'">
            <a class="aof-main-action" [ngClass]="{'aof-icon-action': (isHandset$ | async)}" href="#documentation" title="{{pageTitle}} Documentation">
                <strong *ngIf="(isHandset$ | async) === false">Documentation</strong>
                <fa-icon *ngIf="isHandset$ | async" [icon]="['fab', 'github-alt']"></fa-icon>
            </a>
            <a class="aof-main-action" [ngClass]="{'aof-icon-action': (isHandset$ | async)}" href="https://github.com/layoutzweb/angular-on-fire" title="{{pageTitle}} on Github" target="_blank">
                <ng-container *ngIf="(isHandset$ | async) === false">View it on <strong>Github</strong></ng-container>
                <fa-icon *ngIf="isHandset$ | async" [icon]="['fas', 'code']"></fa-icon>
            </a>
        </div>
        <div class="aof-jumbotron-version">
            <strong>v.{{version}}</strong>
        </div>
    </div>
</section>

