@import '../../partials/colors';

.aof-jumbotron {
  overflow: hidden;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;

  .aof-angular-logo {
    height: 200px;
    width: 200px;
    position: relative;
    text-align: center;

    @media screen and (min-width: 960px) {
      height: 250px;
      width: 250px;
    }

    @media screen and (min-width: 1280px) {
      height: 300px;
      width: 300px;
    }

    img {
      max-height: 100%;
      z-index: 10000;
      position: relative;
    }
  }

  h1, p {
    color: white;
    text-align: center;
  }

  h1 {
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 30px;

    @media screen and (min-width: 960px) {
      font-size: 82px;
      line-height: 92px;
    }
  }

  p {
    font-size: 22px;
    line-height: 30px;

    @media screen and (min-width: 960px) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  .aof-main-action {
    display: inline-block;
    padding: 0 40px;
    font-size: 22px;
    line-height: 62px;
    font-weight: 600;
    text-decoration: none;
    background-color: black;
    border-radius: 31px;
    margin-top: 40px;
    color: $primaryColor;

    & > strong {
      color: white;
    }
  }

  .aof-jumbotron-version {
    padding-top: 20px;
    text-align: center;
  }

  & > * {
    z-index: 5;
  }

  .aof-jumbotron-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > div:first-child {
      background: linear-gradient(360deg, $primaryColor, $accentColor);
      background-size: 100%;
    }
  }
}

